.gopremiumstyle {
    width: 100%;
    margin: 0 auto;
}

.gopremiumstyle:hover {
    box-shadow: 3px 4px 8px 1px grey !important;
    transition: 0.5s ease !important;
    transform: scale(1.01);
    cursor: pointer;
    background-color: goldenrod;
}

.gopremiumstyle:hover p {
    transition: 0.1s ease !important;
    color: white;
}

.gopremiumstyle:hover h4 {
    transition: 0.1s ease !important;
    color: white;
}

.gopremiumstyle:hover a{
    color: white;
}

.freelink {
    font-size: 1.2rem;
}